# Rust build files
/target
/Cargo.lock
/*/target
/*/Cargo.lock

# C# Visual Studio projects (common)
/*/obj
/*/riri_hook
.vs/

/*/incl/
/*/middata/
!*-globals/middata/
*.g.cs
.cargo/

# Build script 
/buildscript/*/bin
/buildscript/*/obj

# Jetbrains IDE
**/.idea/*

# See sample script in SetEnv.ps1
/SetEnv.local.ps1
/env.local.yaml

# Reloaded-II publish script
/Publish/*